/* All styles for your header Components live here */
.top {
      font-family: 'Open Sans', sans-serif;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      margin: 0 20px 0 0;
}

.logo {
      padding: 10px;
}

.imgThumb {
      max-height: 60px;
}

.heado {
      line-height: 20px;
}

.handle {
      font-size: 15px;
      color: grey;
}