/* All styles for your header Components live here */
.top {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      margin: 0 20px 0 0;
}

.logo {
      padding: 10px;
}

.heado {
      line-height: 30px;
}

.handle {
      font-size: 15px;
      color: grey;
}